.error-wrapper {
    border: 1px solid black;
    border-style: dashed;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}