.login-wrapper {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  border: 1px solid black;
  border-style: dashed;
  border-radius: 10px;
  width: 450px;
  margin-bottom: 5px;
  margin: auto;
  transform: translate(0%, 50%);
  vertical-align: center;
  background-color: whitesmoke;
}

.login-control-wrapper {
  border: 1px solid black;
  border-style: dashed;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 180px;
}

.login-button-wrapper {
  border: 1px solid black;
  border-style: dashed;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 408px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-button-wrapper>button {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
