
aside {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: flex-start; */
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid white;
  border-radius: 5px;
  height: 100%;
  
}
.links-container>div {
  border: 1px solid whitesmoke;
  border-style: dashed;
  display: inline;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  transition: 0.3s;
}
.links-container>:hover {
  background-color: whitesmoke;
  margin-left: 15px;
  position: relative;

}
.links-container>div>a {
  text-decoration: none;
  color: #818181;
  font-family: consolas, monospace;
  font-weight: bold;
  width: 320px;
  height: 320px;
  margin: 0 auto;
} 
