<style>
  .layout {
    border: 1px solid black;
    border-style: dashed;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }
</style>

<div class="grid-wrapper">
  <header>
    <app-navbar></app-navbar>
  </header>
  <aside>
    <div class="links-container">
      <div routerLink="/calc"><a>Ejercicio 01</a></div>
      <div routerLink="/login"><a>Ejercicio 02</a></div>
      <div routerLink="/countries"><a>Ejercicio 03</a></div>
      <div><a href="#">Ejercicio 04</a></div>
      <div><a href="#">Ejercicio 05</a></div>
      <div><a href="#">Ejercicio 06</a></div>
      <div><a href="#">Ejercicio 07</a></div>
      <div><a href="#">Ejercicio 08</a></div>
      <div><a href="#">Ejercicio 09</a></div>
      <div><a href="#">Ejercicio 10</a></div>
      <div><a href="#">Ejercicio 11</a></div>
    </div>
  </aside>
  <article>
    <router-outlet></router-outlet>
  </article>
  <footer>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere fugit blanditiis recusandae impedit vitae voluptates architecto qui, velit ratione ipsum nesciunt tenetur! Inventore eaque porro quos commodi corporis, amet iusto. </footer>
</div>