/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
* {
  margin: 0;
  padding: 0;
}
html, body {
  /* height: 100%; */
  /* background-color: rgb(30, 30, 30); */
}
html {
  border: 2px solid red;
  border-radius: 5px;
  height:100%;
  padding: 2px;
}
body {
  border: 2px solid green;
  border-radius: 5px;
  height: 100%;
  padding: 2px;
}
.grid-wrapper {
  display: grid;
  grid-template-rows: 7% auto 15%;
  grid-template-columns: 15% auto;
  border: 2px solid blue;
  border-radius: 5px;
  height:100%;
}
header, article, footer {
  border: 1px solid black;
  border-style: dashed;
  border-radius: 5px;
  margin: 2px;
}
article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding:2px;
}
aside {
  border: 1px solid black;
  border-style: dashed;
  border-radius: 5px;
  margin: 2px;
  padding:2px
}


header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: rgb(52,58,64);
  font-family: consolas;
  text-align: center;
  color: whitesmoke;
  vertical-align: center;
}
aside {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
article {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background:url("../src/assets/images/whatsapp_background.jpg");
}
.flex-wrapper {
  display: flex;
  justify-content: space-around;
  /* overflow: hidden; */
}
.flex-wrapper>span {
  margin: 10px;
}
.flex-wrapper>span>img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
/***************************/
.visible-borders {
  border: 1px solid whitesmoke;
  color:whitesmoke;
  padding:5px;
  border-radius: 5px;
}